<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Springboot MVC Security: Access Denied</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" media="screen" th:href="@{/styles/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" media="screen" th:href="@{/styles/main.css}" />
</head>

<body>
	<div class="container">
		<div class="row">
			<h2>Content Not Available</h2>
			<hr />
		</div>
		<div class="row">
			<div class="w-100">
				<p>Sorry but the content is unavailable at the moment.</p>
				<p>User: <span sec:authentication="principal.username"></span></p>
				<p>Role(s): <span sec:authentication="principal.authorities"></span></p>
				<p sec:authorize="hasRole('EMPLOYEE')"><a th:href="@{/}">Home Page</a></p>
				<p sec:authorize="hasRole('MANAGER')"><a th:href="@{/leaders}">Leader's Page</a></p>
				<p sec:authorize="hasRole('ADMIN')"><a th:href="@{/systems}">System's Page</a></p>
			</div>
		</div>
		<div class="row">
			<form action="#" th:action="@{/logout}" method="POST">
				<button type="submit" value="Logout">Logout</button>
			</form>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{/scripts/main.js}"></script>
</body>

</html>