<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"></html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Springboot MVC Security: Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" media="screen" th:href="@{/styles/main.css}" />
	</head>
	<body>
		<h2>Welcome to the Home Page</h2>
		<hr/>
		<p>This is the home page. More changes to come.</p>
        <script type="text/javascript" th:src="@{/scripts/main.js}"></script>
    </body>
</html>
